<a href="https://colab.research.google.com/github/and05mak12/and05mak12/blob/main/My_first_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import random


names = ["Andrew", "Vasya", "Petya", "Dima", "Denis", "Oleg", "Egor"]
surnames = ["Makarov", "Ivanov", "Sokolov", "Petrov"]
marks = [2, 3, 4, 5]


database_name = "school.db"
con = sqlite3.connect(database_name)
cur = con.cursor()

que_create = """
CREATE TABLE IF NOT EXISTS class (
    id INTEGER PRIMARY KEY,
    name TEXT,
    surname TEXT,
    mark INTEGER
)
"""

que_insert_template = """
INSERT INTO class (name, surname, mark) VALUES (
    '{}', '{}', {}
)
"""
que_select = """
SELECT *
FROM class
"""

cur.execute(que_create)

con.commit()

for i in range(1_000_000):
    random_name = random.choice(names)
    random_surname = random.choice(surnames)
    random_mark = random.choice(marks)

    que_insert = que_insert_template.format(random_name, random_surname, random_mark)

    cur.execute(que_insert)

con.commit()

result = cur.execute(que_select)
data = result.fetchall()
print("Кол-во объектов в таблице", len(data))
print("Первая строчка", data[0])
print("Последняя строчка", data[-1])

con.close()

Кол-во объектов в таблице 1000000
Первая строчка (1, 'Andrew', 'Makarov', 3)
Последняя строчка (1000000, 'Oleg', 'Petrov', 2)

In [ ]:
def execute_select_query(query):
    con = sqlite3.connect(database_name)
    cur = con.cursor()

    result = cur.execute(query)
    data = result.fetchall()
   
    con.close()

    return data

query = """
SELECT *
FROM class
"""
data = execute_select_query(query)
print(data[0])

(1, 'Andrew', 'Makarov', 3)

In [ ]:
#Задание 1
query = """
SELECT id, name, mark
FROM class
WHERE mark = 5
LIMIT 5
"""
data = execute_select_query(query)
print(data)

[(7, 'Egor', 5), (11, 'Dima', 5), (17, 'Petya', 5), (22, 'Andrew', 5), (24, 'Vasya', 5)]

In [ ]:
#Задание 2
query = """
SELECT id, surname, mark
FROM class
WHERE mark = 3
LIMIT 5
"""
data = execute_select_query(query)
print(data)

[(1, 'Makarov', 3), (15, 'Sokolov', 3), (19, 'Petrov', 3), (33, 'Sokolov', 3), (43, 'Sokolov', 3)]

In [ ]:
#Задание 3
query = """
SELECT DISTINCT name
FROM class
"""
data = execute_select_query(query)
print(data)

[('Andrew',), ('Egor',), ('Denis',), ('Oleg',), ('Vasya',), ('Petya',), ('Dima',)]

In [ ]:
#Задание 4
query = """
SELECT DISTINCT mark
FROM class
"""
data = execute_select_query(query)
print(data)

[(3,), (4,), (2,), (5,)]